.navbar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-nav {
  position: fixed;
  width: 100%;
  height: 80px;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #fff;
  z-index: 100;
}

.nav-toggle-button {
  margin-left: 200px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.nav-toggle-button:focus {
  outline: none;
}

.main-content {
  margin-top: 80px;
  display: flex;
  flex: 1;
}

.navbar {
  display: none;
  width: 0;
  height: 100%;
  overflow-x: hidden;
  z-index: 90;
  transition: left 0.24s ease-in-out;
  background: #fff;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
  padding-top: 60px;
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 1;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar li {
  padding: 26px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-bottom: 1px solid #d1d5db;
  position: relative;
}

.navbar.open {
  width: 150px;
  display: block !important;
  padding: 0;
}

.tab-content {
  flex: 1;
  background-color: #f2f2f2;
  padding: 20px;
  transition: 0.3s;
  width: 100%;
  position: relative;
}
.tab-content-subtabs {
  margin-left: 150px;

}

.tab-content.shifted {
  margin-left: 150px; /* Adjust this value to match the width of the side navigation */
  width: calc(100% - 150px);
}
.navbar li:hover {
  border-bottom: 1px solid black !important ;
}
.navbar li:hover ::after {
  content: ""; /* Add content if needed */
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-width: 30px 30px 0 0; /* Adjust these values for the desired size */
  border-color: transparent #000 transparent transparent;
  /* background-color: #555; */
}
/* Style the dropdown button */
.dropbtn {
  color: white;
  border: none;
  margin-right: 30px;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  position: absolute;
  background: white;
  min-width: 160px;
  z-index: 1;
  right: 10px;
  top: 60px;
  border: 0;
  padding: 0 !important;
  box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.08);
}
.dropdown-content .dropdown-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
/* Style the links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 13px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.42rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #111827;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Customize the track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Customize the thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Hover on the thumb */
::-webkit-scrollbar-thumb:hover {
  background: #3f3d3d;
}