.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgba(121, 121, 121, 0.45);
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% + 45px);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border-top-color: #000000;
  animation: loader 1s ease-in-out infinite;
  -webkit-animation: loader 1s ease-in-out infinite;
}
@keyframes loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner-container img {
  width: 70px; /* Adjust the width as needed */
  height: 70px; /* Adjust the height as needed */
  
}

